# Maven
/target/

# IDEs
# Eclipse
.classpath
.project
.settings/
.factorypath

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# Testing
/test-output/
/test-reports/

# OS-specific files
.DS_Store
Thumbs.db
*.tmp
*.bak
*.log
