# Maven build outputs
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.restore
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/
mvnw
mvnw.cmd

# IDEs and Editors
# Eclipse
.metadata
.classpath
.project
.settings/
.factorypath

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# Testing & Reports
test-output/
test-reports/
allure-results/
allure-report/
.allure/

# Logs
*.log
logs/

# OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.tmp
*.bak
